body {
	height: 100%;
	overflow-x: hidden;
	background-color: #fff;
}
.container {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
	display: grid;
}
.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	background-color: #fff;
	color: #db6262;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
aside {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	padding-right: 5%;
	padding-left: 10%;
}
.mainimage {
	/*https://stackoverflow.com/questions/15843391/div-height-set-as-percentage-of-screen*/
	width: 70vw;
	height: 100vh;
}
.logoimg {
	/*https://stackoverflow.com/questions/15843391/div-height-set-as-percentage-of-screen*/
	width: 20vw;
	height: 20vh;
}
.pyimg {
	width: 30vw;
	height: auto;
}

.gitimg {
	width: 30vw;
	height: auto;
}
.featuredwork {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-content: space-around;
	padding-top: 5%;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
}
strong {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	align-items: space-around;
	padding-left: 10%;
	grid-row-start: 1;
	grid-column-start: 1;
	font-size: xx-large;
}
#pyarticle {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: space-around;
	padding-top: 20%;
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: large;
}
#githubarticle {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: space-around;
	padding-top: 20%;
	grid-column-start: 3;
	grid-column-end: 4;
	font-size: large;
}
header {
	display: flex;
	flex-flow: column wrap;
	justify-content: stretch;
	align-items: baseline;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;	
}
 h1, h2 {
	display: flex;
	flex-flow: column wrap;
	justify-content: stretch;
	align-items: baseline;
	
}
footer {
	height: 100vh;
	width: 100vw;
	color: #fff;
}
@media only screen and (max-width: 360px) {
	.container {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		overflow-x: hidden;
		display: grid;
		grid-template-rows: 1fr 3fr;	
	}
	header {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: flex-start;
	}
	.content {
		display: flex;
		flex-flow: row;
		background-color: #fff;
		color: #db6262;
		overflow-x: hidden;
	}
	aside {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: stretch;
		padding-right: 5%;
	}
	.asideimage {
		width: 35vw;
		height: 50vw;
		padding: right 5%;
	}
	.mainimage {
		/*https://stackoverflow.com/questions/15843391/div-height-set-as-percentage-of-screen*/
		width: 55vw;
		height: auto;
		padding-left: 5%;
	}
	.featuredwork {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: space-between;
	}
	#pyarticle {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: space-around;
		padding-top: 20%;
	}
	#githubarticle {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: space-between;
		padding-left: 5%;
		padding-top: 20%;
	}
}
@media only screen and (min-width: 361px) and (max-width: 1024px) {
	.container {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		overflow-x: hidden;
		display: grid;
	}
	.asideimage {
		width: 28vw;
		height: 32vw;
		padding-right: 5%;
	}
	.mainimage {
		width: 50vw;
		height: 100vw;
		padding-left: 5%;
	}
}