body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.content {
    
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    background-color: #fff;
    color: #db6262;
    margin:50px 5px 5px 1px;
}  

.featuredwork {
    margin-top: 30px;
}

.featuredworkimg {
    display: inline-flex;
    margin-top: 30px;
}

.mainimage { 
    /*https://stackoverflow.com/questions/15843391/div-height-set-as-percentage-of-screen*/
    width: 52vw;
    height: 70vh;
}

.asideimage {
   width: 10vw;
   height: 15vh;
 }

.frontend p {
    float: right;   
 }

.frontend b {
    float: right;       
 }

.frontend big { 
   
   float: right;
 }

.frontend {
    margin: 5px 10px 25px 10px;
}

aside {
    
    float: left;
    width: 50vh; 
}

ul {

    list-style-type: none;
}

 li {
     height: 20vh;    
 }

h2, p {

    display: inline-block;
}

footer {
    height: 100vh;
    width: 100vw;
    color: #fff;
}