body {
   
    height: 100%;
    width: 100%;
    background-color: #808080;
    color: #fff;
}

#content {

    /*https://stackoverflow.com/questions/15843391/div-height-set-as-percentage-of-screen*/
    height: 100vh;
    width: 100vw;
    
    background-color: #fff;
    color: #db6262;
}
picture {
    float: right;
    padding-right: 20%;
}
#featuredwork {
 
}

#mainimage {
   
    width: 50vw;
    height: 60vh;
  
 
}

#pythonimage {
    
     width: 10vw;
     height: 10vh;
   
  
 }

 .asideimage {
    
     width: 10vw;
     height: 15vh;
   
  
 }

section {
    width: 100vw;
    height: 30vh;
    background-color: #fff;
    color: #808080;
    display: inline-block;
    
    
}

aside {
    float: left;
    width: 50vh;
    
}

ul {
    list-style-type: none;
}

 li {
     height: 20vh;
     
 }
h2, p {
    float: right;
    display: block;
}

footer {
    height: 100vh;
    width: 100vw;
    color: #fff;
}